<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
    {{>header}}
    
    <img src="/img/robot.png" alt="">
    <p> This site was created by Harish Mani. It uses data from Mapbox and WeatherStack </p>
    </div>
        {{>footer}}
        
</body>
</html>